@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@-webkit-keyframes shape-shake {
  0% {
    -webkit-transform: translateY(7px);
            transform: translateY(7px);
  }
  25% {
    -webkit-transform: translateY(-7px);
            transform: translateY(-7px);
  }
  50% {
    -webkit-transform: translateY(7px);
            transform: translateY(7px);
  }
  75% {
    -webkit-transform: translateY(-7px);
            transform: translateY(-7px);
  }
  100% {
    -webkit-transform: translateY(7px);
            transform: translateY(7px);
  }
}
@keyframes shape-shake {
  0% {
    -webkit-transform: translateY(7px);
            transform: translateY(7px);
  }
  25% {
    -webkit-transform: translateY(-7px);
            transform: translateY(-7px);
  }
  50% {
    -webkit-transform: translateY(7px);
            transform: translateY(7px);
  }
  75% {
    -webkit-transform: translateY(-7px);
            transform: translateY(-7px);
  }
  100% {
    -webkit-transform: translateY(7px);
            transform: translateY(7px);
  }
}
/* global css start */
.container {
  max-width: 1200px;
}

/* global css end */
/* reset start */
* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

h1 {
  font-weight: 700;
}

p {
  margin-bottom: 0;
  font-size: 18px;
  line-height: 32px;
  color: #808285;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

span {
  margin-bottom: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
a:hover {
  color: #5956e9;
}

/* reset end */
/* main btn start */
.btn-1 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 35px;
  background-color: #5956e9;
  color: #fff;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 700;
  border-radius: 5px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.btn-1:hover {
  color: #fff;
  background-color: #191919;
}
.btn-1 i {
  margin-left: 10px;
}

.btn-2 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 35px;
  background-color: transparent;
  border: 1px solid #5956e9;
  color: #5956e9;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 700;
  border-radius: 5px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.btn-2:hover {
  color: #fff;
  background-color: #5956e9;
}
.btn-2 svg {
  margin-left: 10px;
  width: 8px;
}

.btn-3 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 35px;
  background-color: #5956e9;
  border: 1px solid #fff;
  color: #fff;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 700;
  border-radius: 5px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.btn-3:hover {
  color: #fff;
  background-color: #191919;
  border-color: #191919;
}
.btn-3 i {
  margin-left: 10px;
}

.btn-link {
  font-size: 18px;
  font-weight: 700;
  color: #5956e9;
  text-decoration: underline;
}
.btn-link svg {
  margin-left: 5px;
  font-size: 18px;
}

/* main btn end */
/* header-section start */
.header-section {
  position: absolute;
  background-color: transparent;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
.header-section .container-fluid {
  padding-left: 70px;
  padding-right: 70px;
}

.navbar {
  border-bottom: 1px solid rgba(25, 25, 25, 0.1);
}

.nav-link {
  color: #162542;
  font-family: "DM Sans", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: capitalize;
  padding: 35px 18px !important;
  line-height: 1;
}
.nav-link:hover::after {
  width: 100%;
}
.nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: #5956e9;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.nav-link.active {
  color: #5956e9;
}
.nav-link.active::after {
  width: 100%;
}

.navbar-brand {
  padding: 0;
  margin-right: 0;
}

.navbar-expand-lg {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}
.navbar-expand-lg .navbar-collapse {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.header-right-nav ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-right-nav .bar-item {
  cursor: pointer;
}
.header-right-nav .bar-item a {
  width: 45px;
  height: 45px;
  border-radius: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #5956e9;
}

/* header-section end */
/* banner-section start */
.banner-section {
  position: relative;
  padding: 250px 0 180px 0;
}
.banner-section::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgb(89, 86, 233)), to(rgb(0, 208, 156)));
  background: linear-gradient(90deg, rgb(89, 86, 233) 0%, rgb(0, 208, 156) 100%);
  opacity: 0.1;
  z-index: -1;
}

.banner-title {
  margin-bottom: 35px;
  font-size: 95px;
  line-height: 90px;
}

.banner-details {
  padding-right: 30%;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 45px;
}

.bg-one {
  position: absolute;
  bottom: 0;
  left: 0;
  background: url(/assets/images/banner/1.png) no-repeat left;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.bg-two {
  position: absolute;
  bottom: 0;
  right: 0;
  background: url(/assets/images/banner/2.png) no-repeat right;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.banner-img {
  position: absolute;
  z-index: -1;
}

.banner-img-1 {
  bottom: 60px;
  left: 65px;
}
.banner-img-1 img {
  border-radius: 120px;
}

.banner-img-2 {
  bottom: 70px;
  right: 150px;
}
.banner-img-2 img {
  border-radius: 245px;
}

.banner-img-3 {
  bottom: 170px;
  right: 38%;
}

.banner-img-4 {
  top: 190px;
  left: 130px;
}

.banner-img-5 {
  top: 190px;
  right: 40%;
}

.banner-img-6 {
  bottom: 110px;
  left: 45%;
}

/* banner-section end */
/* about-section start */
.about-section {
  padding-top: 130px;
}

.about-img-area {
  position: relative;
  margin-bottom: 30px;
}

.about-img {
  border-radius: 250px;
}

.about-shape {
  position: absolute;
  bottom: 0;
  left: -30px;
  -webkit-animation-name: shape-shake;
          animation-name: shape-shake;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-delay: inherit;
          animation-delay: inherit;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.about-text-area p {
  margin-bottom: 20px;
}

.sub-title {
  position: relative;
  font-size: 24px;
  font-weight: 700;
  color: #5956e9;
  padding: 17px 35px;
  z-index: 1;
}
.sub-title::after {
  position: absolute;
  content: "";
  width: 100%;
  left: 0;
  background: url(/assets/images/page/1.png) no-repeat;
  background-size: 100% 100%;
  z-index: -1;
  background-position: bottom;
  top: auto;
  bottom: 0;
  height: 100%;
}

.sub-title-2 {
  color: #fff;
}
.sub-title-2::after {
  position: absolute;
  content: "";
  width: 100%;
  left: 0;
  background: url(/assets/images/page/2.png) no-repeat;
  background-size: 100% 100%;
  z-index: -1;
  background-position: bottom;
  top: auto;
  bottom: 0;
  height: 100%;
}

.main-title {
  margin: 35px 0 25px 0;
  font-size: 55px;
  font-weight: 700;
  line-height: 60px;
}

.main-title-2 {
  color: #fff;
}

.details-title {
  font-size: 22px;
  color: #5956e9;
  margin-bottom: 25px;
  font-weight: 700;
}

.details-title-2 {
  color: #fff;
}

.about-details-list {
  margin-bottom: 35px;
}
.about-details-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px;
}
.about-details-list li svg {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #5956e9;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  margin-right: 15px;
}

/* about-section end */
/* service-section start */
.service-section {
  padding-top: 90px;
  padding-bottom: 80px;
}

.section-title-2 {
  margin-bottom: 55px;
}
.section-title-2 .details-title {
  color: #808285;
  font-weight: 500;
}

.service-item {
  position: relative;
  z-index: 1;
  padding: 50px 55px 40px;
  border-radius: 7px;
  background-color: #fff;
  border: 1px solid rgba(88, 86, 233, 0.2);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.service-item:hover {
  border-color: transparent;
  -webkit-box-shadow: 0px 10px 60px 0px rgba(89, 86, 233, 0.1);
          box-shadow: 0px 10px 60px 0px rgba(89, 86, 233, 0.1);
}
.service-item:hover .service-list li {
  color: #000;
}

.service-icon {
  margin-bottom: 20px;
}

.service-icon-img {
  width: 70px;
}

.service-title {
  margin-bottom: 15px;
}
.service-title a {
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  color: #000;
}

.service-list {
  margin-bottom: 20px;
}
.service-list li {
  font-size: 18px;
  font-weight: 500;
  color: #808285;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.service-list li svg {
  font-size: 20px;
  font-weight: 500;
  margin-right: 15px;
}

/* service-section end */
/* portfolio-section start */
.portfolio-section {
  padding-top: 130px;
  padding-bottom: 100px;
  background-color: #fafafb;
}

.portfolio-thumb {
  position: relative;
}
.portfolio-thumb:hover .thumb-hover {
  opacity: 100%;
}
.portfolio-thumb:hover .thumb-hover svg {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.thumb-hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 2, 72, 0.5);
  opacity: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.thumb-hover svg {
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
  font-size: 35px;
  color: #fff;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.portfolio-text {
  padding-top: 30px;
}

.portfolio-title {
  margin-bottom: 5px;
}
.portfolio-title a {
  font-size: 24px;
  font-weight: 700;
  color: #000;
}
.portfolio-title a:hover {
  color: #5956e9;
}

.portfolio-category {
  font-size: 18px;
  font-weight: 500;
  color: #808285;
}

.filter-button-group {
  margin-bottom: 50px;
}

.filter-button {
  font-size: 18px;
  display: inline-block;
  font-weight: 700;
  padding: 5px 15px;
  background-color: transparent;
  line-height: 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  border: none;
}
.filter-button.active {
  background-color: #fff;
  -webkit-box-shadow: 0px 10px 30px 0px rgba(89, 86, 233, 0.2);
          box-shadow: 0px 10px 30px 0px rgba(89, 86, 233, 0.2);
}

/* portfolio-section end */
/* poster-section start */
.poster-section {
  padding-top: 130px;
}
.poster-section .container {
  max-width: 1450px;
}

.poster-wrapper {
  position: relative;
  z-index: 1;
  padding: 80px 140px;
  background-color: #5956e9;
}
.poster-wrapper::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: url(/assets/images/poster/1.png) no-repeat right;
  background-size: auto;
  background-size: contain;
  z-index: -1;
}

.poster-title {
  font-size: 70px;
  color: #fff;
  margin-top: 35px;
  margin-bottom: 40px;
  font-weight: 700;
}

.fill-text {
  line-height: 1;
  letter-spacing: -0.03em;
  margin: 0 auto;
  text-align: center;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
}

.poster-img-area {
  position: absolute;
  right: 90px;
  bottom: -110px;
  border-radius: 151.49px;
  overflow: hidden;
}

/* poster-section end */
/* counter-section start */
.counter-section {
  padding-top: 240px;
  padding-bottom: 140px;
}

.counter-item {
  position: relative;
  padding: 65px 50px;
  background-color: #fff;
  -webkit-box-shadow: 0px 10px 60px 0px rgba(76, 76, 76, 0.1);
          box-shadow: 0px 10px 60px 0px rgba(76, 76, 76, 0.1);
  z-index: 1;
}
.counter-item:hover::after {
  visibility: visible;
  opacity: 100%;
}
.counter-item::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #e9e056;
  -webkit-filter: blur(57.5px);
          filter: blur(57.5px);
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.counter-icon {
  margin-bottom: 30px;
}

.counter-icon-img {
  width: 70px;
}

.counter-number {
  font-size: 55px;
  font-weight: 700;
  margin-bottom: 8px;
}

/* counter-section end */
/* testimonial-section start */
.testimonial-section {
  position: relative;
  padding-top: 130px;
  padding-bottom: 80px;
  background-color: #5956e9;
  z-index: 1;
}
.testimonial-section::after {
  content: "";
  position: absolute;
  right: 150px;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: url(/assets/images/testimonial/bg.jpg) no-repeat;
  background-size: 100% 100%;
  z-index: -1;
}

.testimonial-shape-img-area {
  position: absolute;
  top: 100px;
  right: 15%;
  z-index: 1;
}
.testimonial-shape-img-area::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 240px;
  height: 300px;
  border: 1px solid #fff;
  border-radius: 110px;
  z-index: -1;
}

.testimonial-shape-img {
  border-radius: 110px;
}

.testimonial-img-area img {
  border-radius: 220px;
}

.testimonial-icon {
  width: 55px;
  margin-bottom: 20px;
}

.testimonial-title {
  font-size: 40px;
  line-height: 55px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 35px;
}

.testimonial-author-title {
  font-size: 24px;
  color: #fff;
  font-weight: 700;
}

.testimonial-author-details {
  color: #fff;
}

.testimonial-slider {
  position: relative;
}

.slick-dots {
  position: absolute;
  right: -20%;
  bottom: 40%;
  display: inline-block;
}
.slick-dots li button {
  font-size: 0px;
  background-color: #fff;
  position: relative;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  z-index: 7;
}
.slick-dots li button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #fff;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.slick-dots .slick-active button::after {
  visibility: visible;
  opacity: 100%;
}

/* testimonial-section end *//*# sourceMappingURL=style.css.map */