/* main btn start */
.btn-1 {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 15px 35px;
	background-color:$blue;
	color: #fff;
	font-size: 16px;
	text-transform: capitalize;
	font-weight: 700;
	border-radius: 5px;
	transition: all .4s;
    &:hover{
        color: #fff;
        background-color: $btn-bg;
    }
    i{
        margin-left: 10px;
    }
}
.btn-2 {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 15px 35px;
	background-color: transparent;
	border: 1px solid $blue;
	color: $blue;
	font-size: 16px;
	text-transform: capitalize;
	font-weight: 700;
	border-radius: 5px;
	transition: all .4s;
    &:hover{
        color: #fff;
        background-color: $blue;
    }
    svg{
        margin-left: 10px;
		width: 8px;
    }
}
.btn-3{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 15px 35px;
	background-color:$blue;
	border: 1px solid #fff;
	color: #fff;
	font-size: 16px;
	text-transform: capitalize;
	font-weight: 700;
	border-radius: 5px;
	transition: all .4s;
    &:hover{
        color: #fff;
        background-color: $btn-bg;
		border-color: $btn-bg;
    }
    i{
        margin-left: 10px;
    }
}
.btn-link{
	font-size: 18px;
	font-weight: 700;
	color: $blue;
	text-decoration: underline;
	svg{
		margin-left: 5px;
		font-size: 18px;
	}
}
/* main btn end */