/* main btn start */
.btn-1 {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 15px 35px;
	background-color:$blue;
	color: #fff;
	font-size: 16px;
	text-transform: capitalize;
	font-weight: 700;
	border-radius: 5px;
	transition: all .3s;
    &:hover{
        color: #fff;
        background-color: #191919;
    }
    i{
        margin-left: 10px;
    }
}
.btn-2 {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 15px 35px;
	background-color: transparent;
	border: 1px solid $blue;
	color: $blue;
	font-size: 16px;
	text-transform: capitalize;
	font-weight: 700;
	border-radius: 5px;
	transition: all .3s;
    &:hover{
        color: #fff;
        background-color: $blue;
    }
    svg{
        margin-left: 10px;
		width: 8px;
    }
}
/* main btn end */