/* banner-section start */
.banner-section{
    position: relative;
    padding: 250px 0 180px 0;
    &::after{
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient( 90deg, rgb(89,86,233) 0%, rgb(0,208,156) 100%);
        opacity: 0.1;
        z-index: -1;
    }
}
.banner-title{
    margin-bottom: 35px;
    font-size: 95px;
    line-height: 90px;
}
.banner-details{
    padding-right: 30%;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 45px;
}
.bg-one{
    position: absolute;
    bottom: 0;
    left: 0;
    background: url(/assets/images/banner/1.png) no-repeat left;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.bg-two{
    position: absolute;
    bottom: 0;
    right: 0;
    background: url(/assets/images/banner/2.png) no-repeat right;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.banner-img{
    position: absolute;
    z-index: -1;
}
.banner-img-1{
    bottom: 60px;
    left: 65px;
    img{
        border-radius: 120px;
    }
}
.banner-img-2{
    bottom: 70px;
    right: 150px;
    img{
        border-radius: 245px;
    }
}
.banner-img-3{
    bottom: 170px;
    right: 38%;
}
.banner-img-4{
    top: 190px;
    left: 130px;
}
.banner-img-5{
    top: 190px;
    right: 40%;
}
.banner-img-6{
    bottom: 110px;
    left:45%;
}
/* banner-section end */

/* about-section start */
.about-section{
    padding-top: 130px;
}
.about-img-area{
    position: relative;
    margin-bottom: 30px;
}
.about-img{
    border-radius: 250px;
}
.about-shape{
    position: absolute;
    bottom: 0;
    left: -30px;
    animation-name: shape-shake;
    animation-duration: 10s;
    animation-delay: inherit;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.about-text-area{
    p{
        margin-bottom: 20px;
    }
}
.sub-title{
    position: relative;
    font-size: 24px;
    font-weight: 700;
    color: $blue;
    padding: 17px 35px;
    z-index: 1;
    &::after{
        position: absolute;
    content: "";
    width: 100%;
    left: 0;
    background: url(/assets/images/page/1.png) no-repeat;
    background-size: 100% 100%;
    z-index: -1;
    background-position: bottom;
    top: auto;
    bottom: 0;
    height: 100%;
    }
}
.sub-title-2{
    color: #fff;
    &::after{
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    background: url(/assets/images/page/2.png) no-repeat;
    background-size: 100% 100%;
    z-index: -1;
    background-position: bottom;
    top: auto;
    bottom: 0;
    height: 100%;
    }
}
.main-title{
    margin: 35px 0 25px 0;
    font-size: 55px;
    font-weight: 700;
    line-height: 60px;
}
.main-title-2{
    color: #fff;
}
.details-title{
    font-size: 22px;
    color: $blue;
    margin-bottom: 25px;
    font-weight: 700;
}
.details-title-2{
    color: #fff;
}
.about-details-list{
    margin-bottom: 35px;
    li{
        display: flex;
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 15px;
        svg{
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background-color: $blue;
            padding: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            margin-right: 15px;
        }
    }
}
/* about-section end */

/* service-section start */
.service-section{
    padding-top: 90px;
    padding-bottom: 80px;
}
.section-title-2{
    margin-bottom: 55px;
    .details-title{
        color: $p-color;
        font-weight: 500;
    }
}
.service-item{
    position: relative;
    z-index: 1;
    padding: 50px 55px 40px;
    border-radius: 7px;
    background-color: #fff;
    border: 1px solid rgba(88, 86, 233, 0.2);
    transition: all .4s;
    &:hover{
        border-color: transparent;
        box-shadow: 0px 10px 60px 0px rgba(89, 86, 233, 0.1);
        .service-list{
            li{
                color: #000;
            }
        }
    }
}
.service-icon{
    margin-bottom: 20px;
}
.service-icon-img{
    width: 70px;
}
.service-title{
    margin-bottom: 15px;
    a{
        font-size: 24px;
        font-weight: 700;
        line-height: 35px;
        color: #000;
    }
}
.service-list{
    margin-bottom: 20px;
    li{
        font-size: 18px;
        font-weight: 500;
        color: $p-color;
        transition:all .4s;
        svg{
            font-size: 20px;
            font-weight: 500;
            margin-right: 15px;
        }
    }
}
/* service-section end */

/* portfolio-section start */
.portfolio-section{
    padding-top: 130px;
    padding-bottom: 100px;
    background-color: $light-gray;
}
.portfolio-thumb{
    position: relative;
    &:hover{
        .thumb-hover{
            opacity: 100%;
            svg{
                transform: translateY(0px);
            }
        }
    }
}
.thumb-hover{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 2, 72, 0.5);
    opacity: 0;
    transition: all .4s;
    svg{
        transform: translateY(-40px);
        font-size: 35px;
        color: #fff;
        transition: all .4s;
    }
}
.portfolio-text{
    padding-top: 30px;
}
.portfolio-title{
    a{
        font-size: 24px;
        font-weight: 700;
        color: #000;
        &:hover{
            color: $blue;
        }
    }
    margin-bottom: 5px;
}
.portfolio-category {
	font-size: 18px;
    font-weight: 500;
    color: $p-color;
}
.filter-button-group {
	margin-bottom: 50px;
}
.filter-button {
    font-size: 18px;
	display: inline-block;
	font-weight: 700;
	padding: 5px 15px;
	background-color: transparent;
	line-height: 20px;
	border-radius: 5px;
	cursor: pointer;
	margin-bottom: 10px;
	transition: all .4s;
    border: none;
    &.active{
        background-color: #fff;
    box-shadow: 0px 10px 30px 0px rgba(89, 86, 233, 0.2);
    }
}
/* portfolio-section end */


/* poster-section start */
.poster-section{
    padding-top: 130px;
    .container{
        max-width: 1450px;
    }
}
.poster-wrapper{
    position: relative;
    z-index: 1;
    padding: 80px 140px;
    background-color: $blue;
    &::after{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: url(/assets/images/poster/1.png) no-repeat right;
    background-size: auto;
    background-size: contain;
    z-index: -1;
    }
}
.poster-title{
    font-size: 70px;
    color: #fff;
    margin-top: 35px;
    margin-bottom: 40px;
    font-weight: 700;
}
.fill-text {
	line-height: 1;
	letter-spacing: -0.03em;
	margin: 0 auto;
	text-align: center;
	color: transparent;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
}
.poster-img-area{
    position: absolute;
    right: 90px;
    bottom: -110px;
    border-radius: 151.49px;
    overflow: hidden;
}
/* poster-section end */

/* counter-section start */
.counter-section{
    padding-top: 240px;
    padding-bottom: 140px;
}
.counter-item{
    position: relative;
    padding: 65px 50px;
    background-color: #fff;
    box-shadow: 0px 10px 60px 0px rgba(76, 76, 76, 0.1);
    z-index: 1;
    &:hover{
        &::after{
            visibility: visible;
            opacity: 100%;
        }
    }
    &::after{
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #e9e056;
    filter: blur(57.5px);
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    transition: all .3s;
    }
}
.counter-icon{
    margin-bottom: 30px;
}
.counter-icon-img {
	width: 70px;
}
.counter-number {
	font-size: 55px;
    font-weight: 700;
    margin-bottom: 8px;
}
/* counter-section end */

/* testimonial-section start */
.testimonial-section{
    position: relative;
    padding-top: 130px;
    padding-bottom: 80px;
    background-color: $blue;
    z-index: 1;
    &::after {
        content: '';
        position: absolute;
        right: 150px;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: url(/assets/images/testimonial/bg.jpg) no-repeat;
        background-size: 100% 100%;
        z-index: -1;
    }
}
.testimonial-shape-img-area{
    position: absolute;
    top: 100px;
    right: 15%;
    z-index: 1;
    &::after{
        position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 240px;
    height: 300px;
    border: 1px solid #fff;
    border-radius: 110px;
    z-index: -1;
    }
}
.testimonial-shape-img{
    border-radius: 110px;
}
.testimonial-img-area{
    img{
        border-radius:220px ;
    }
}
.testimonial-icon{
    width: 55px;
    margin-bottom: 20px;
}
.testimonial-title{
    font-size: 40px;
    line-height: 55px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 35px;
}
.testimonial-author-title{
    font-size: 24px;
    color: #fff;
    font-weight: 700;
}
.testimonial-author-details{
    color: #fff;
}
.testimonial-slider {
    position: relative;
}
.slick-dots {
    position: absolute;
    right: -20%;
    bottom: 40%;
    display: inline-block;
    li{
        button{
            font-size: 0px;
            background-color: #fff;
            position: relative;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            z-index: 7;
            &::after{
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                width: 20px;
                height: 20px;
                border-radius: 50%;
                border: 1px solid #fff;
                z-index: -1;
                visibility: hidden;
                opacity: 0;
                transition: all .3s;
            }
        }
    }
    .slick-active{
        button{
            &::after{
                visibility: visible;
                opacity: 100%;
            }
        }
    }
}
/* testimonial-section end */